.Products {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

}

.main-section {
    display: flex;
    flex-direction: column;
    width: 90%;

}


.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(52, 52, 52, 0.497);
    padding: 20px;
}

.Product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
    background-color: rgba(255, 248, 177, 0.56);
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(74, 31, 0);
}

.sort-select {
    border-radius: 8px;
    padding: 5px;
}

.sort-select option {

    font-weight: bold;
}

@media (max-width:750px) {
    .Products {

        flex-direction: column;


    }

    .main-section {
        align-self: center;


    }

    .sort {
        font-size: x-small;
        padding: 4px;
        margin: 1px;
    }

    .filter-section {
        padding: 4px;
        padding-bottom: 0;


    }

    .sort-select option {
        font-weight: normal;
        font-size: x-small;
    }

    .sort-select {
        border-radius: 6px;
        padding: 2px;
        font-size: x-small;
    }
}